html, body {
    min-width: 320px;
    width: 100%;
}

body {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    min-height: 100%;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}