.main {

}

.main__link {
    font-size: 18px;
    font-weight: bold;
    color: blue;
    transition: color 2s ease;

    &:hover {
        color: pink;
    }
}

.main__wrap-link {
    margin: 30px auto;
    text-align: center;
}